.formArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
  width: 938px;
  margin: 35px auto 0 auto;
  padding: 48px 32px;
  background-color: white;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07);
  border-radius: 6px;

  &__header {
    display: flex;
    justify-content: center;
    color: #262626;
  }

  &__title {
    width: 320px;
    height: 22px;
    margin-left: 32px;
    margin-bottom: 2px;
    color: #262626;
    font-weight: 500;
  }

  &__input {
    width: 320px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding-left: 12px;
    margin-left: 32px;
    margin-bottom: 16px;
  }

  &__button {
    width: 320px;
    height: 40px;
    background-color: #1890ff;
    color: #fff;
    margin-left: 32px;
    border-radius: 6px;
    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }

  &__footer {
    margin-top: 8px;
    margin-left: 32px;
    margin-bottom: 48px;
    width: 319px;
    height: 20px;
    display: flex;
    justify-content: center;
  }
}

.form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: #262626;
}

.tags {
  margin-top: 8px;
  display: flex;
  flex-direction: column;

  &__button {
    width: 320px;
    height: 40px;
    background-color: #f5222d;
    color: #fff;
    margin-left: 32px;
    margin-bottom: 8px;
    border-radius: 6px;

    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }
}
